<!DOCTYPE html>
<html lang="en" ng-app="addItemApp">
<head>
<meta charset="UTF-8">
<meta name="description" content="Add item to the selected column in a table. Delete item and search and filter item by using AngularJs.">
<meta name="keywords" content="add item, delete item, angularjs, CSS, SEO friendly, javascript, dynamic table, filter table" >
<title>ADD ITEM</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="style/addItem.css">

</head>

<body>
<div ng-controller="addItemCtrl">

<h1>Marvelous!</h1>
<p id="headText">Lorem lpsum is simply dummy text of the printing and typesetting industry. 
Lorem lpsum has been the industry's standard dummy text ever since. </p>

<table class="content">
	<thead>
		<tr class="gradient">
			<th colspan="3">ADD AN ITEM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="text" ng-model="newItem" placeholder="ENTER ITEM" class="inputItem">
				<select ng-model="selectedColumn" class="chooseColumn"
                	ng-options="opt as opt.label for opt in options">
                	<option value=''>CHOOSE COLUMN</option>
           		</select>
           		<br/>
				<button ng-click="addItem()" class="addItemButton">ADD ITEM</button><br/>
				<span class="txt">SEARCH AN ITEM</span><br/>
				<input type="text" ng-model="q" placeholder="SEARCH" class="search">
			</td>
			<td class="internalBoder"> 
			<table class="internalTable">
				<tr>
					<th  class="gradient">COLUMN 1</th>
				</tr>
				<tr ng-repeat="column in columnList1 | filter:q">
    				<td>
    					{{ column.value }}
      					<button ng-click="deleteItem(columnList1,column)" class="deleteBtn">
      					x
      					</button>
    				</td>
 				</tr>
			</table>
			</td>
			<td class="internalBoder">
			<table class="internalTable">
				<tr>
					<th  class="gradient">COLUMN 2</th>
				</tr>
				<tr ng-repeat="column in columnList2 | filter:q">
    				<td>
    					{{ column.value }}
      					<button ng-click="deleteItem(columnList2,column)" class="deleteBtn">
      					x
      					</button>
    				</td>
 				</tr>
			</table>
			</td>
		</tr> 		
	</tbody>
</table>

</div>

<script src="js/addItemApp.js"></script>
<script src="js/addItemCtrl.js"></script>

</body>

</html>