<!DOCTYPE html>
<html lang="en" ng-app="addItemApp">
<head>
<meta charset="UTF-8">
<title>ADD ITEM</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather&#8217">
<link rel="stylesheet" type="text/css" href="addItem.css">

</head>

<body>
<div ng-controller="addItemCtrl">

<h1>Marvelous!</h1>
<p id="headText">lorem lpsum is simply dummy text os the printing and typesetting industry. 
Lorem lpsum has been the industry's standard dummy text ever since. </p>

<table class="content">
	<thead>
		<tr class="gradient">
			<th colspan="3">ADD AN ITEM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" ng-model="newItem" value="ENTER ITEM" class="chooseColumn"></td>
			<td  class="gradient">COLUMN 1</td>
			<td  class="gradient">COLUMN 2</td>
		</tr>
		<tr>
			<td rowspan="2">
				<select ng-model="selectedColumn" class="inputItem"
                	ng-options="opt as opt.label for opt in options">
                	<option value=''>CHOOSE COLUMN</option>
           		</select>
           		<br/>
				<button ng-click="addItem()" class="addItemButton">ADD ITEM</button><br/>
				<span class="txt">SEARCH AN ITEM</span><br/>
				<input type="text" ng-model="q" value="SEARCH" class="search">
			</td>
		</tr>
		<tr style="background-color:#fff">
			<td>
			<table class="internalTable">
				<tr ng-repeat="column in columnList1 | filter:q">
    				<td>
    					{{ column.value }}
      					<button class="btn" ng-click="deleteItem(columnList1,column)">
      					x
      					</button>
    				</td>
 				</tr>
			</table>
			</td>
			<td>
			<table class="internalTable">
				<tr ng-repeat="column in columnList2 | filter:q">
    				<td>
    					{{ column.value }}
      					<button class="btn" ng-click="deleteItem(columnList2,column)">
      					x
      					</button>
    				</td>
 				</tr>
			</table>
			</td>
		</tr> 		
	</tbody>
</table>

</div>

<script src="addItemApp.js"></script>
<script src="addItemCtrl.js"></script>

</body>

</html>